body{
    background-color: steelblue;
    margin: 0;
    padding: 0;
    
    }
    
    h1{
        text-align: center;
        color: white;
    }
    img {
        display: block;
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .navBar{
        overflow: hidden;
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }
    .navBar a:hover{
        background-color: white;
        color: black;
        text-align: center;
    }
    .navBar a{
        float: center;
        color:white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .navBar a.active {
        background-color: steelblue;
        color: white;
      }
    
    table{
        color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: teal;
        margin-top: 20px;
        border-collapse: collapse; 
        width: 60%; 
    }
    td {
        padding: 10px;
        text-align: center;
    }
    
    td a {
        color: blue;
        text-decoration: none;
    }