body{
    background-color: steelblue;
    margin: 0;
    padding: 0;
    
    }
    
    h1{
        text-align: center;
        color: white;
    }
    img {
        display: block;
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        
    }
    .navBar{
        overflow: hidden;
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }
    .navBar a:hover{
        background-color: white;
        color: black;
        text-align: center;
    }
    .navBar a{
        float: center;
        color:white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .navBar a.active {
        background-color: steelblue;
        color: white;
      }
    
    table{
        color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: teal;
        margin-top: 20px;
        border-collapse: collapse; 
        width: 60%; 
        border-radius: 10%;
    }
    td {
        padding: 10px;
        text-align: center;
    }
    
    td a {
        color: blue;
        text-decoration: none;
    }
    .widget-container {
        display: flex;                 /* Enables flexbox for horizontal alignment */
        justify-content: space-between; /* Adds space between the two widgets */
        margin: 20px auto;             /* Centers the container and adds margin */
        width: 90%;                    /* Adjust the width of the entire container */
    }
    
    #sc-widget-497, #sc-widget-500 {
        width: 45%;                    /* Each widget takes up 45% of the container width */
        margin: 10px;                  /* Optional: Adds some spacing around each widget */
    }
    