body{
background-color: steelblue;
}

h1{
    text-align: center;
    color: white;
}
img {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    edges
}